﻿@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500&subset=cyrillic-ext');
@import url('https://fonts.googleapis.com/css?family=Lobster&subset=cyrillic');


@font-face {
    font-family: tk-brandon-grotesque-n4;
    src: url(https://use.typekit.net/af/8d9762/0000000000000000000132df/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3) format("woff2"),url(https://use.typekit.net/af/8d9762/0000000000000000000132df/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3) format("woff"),url(https://use.typekit.net/af/8d9762/0000000000000000000132df/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3) format("opentype");
    font-weight: 400;
    font-style: normal;
}


/*EDIT USER*/

.DayPickerInput {
    height: 3.6rem;
    position: relative;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    border: 0 solid black;
    top: 0;


    input {
        display: flex;
        flex: 1 0 0px;
        margin: 0;
        padding: 1rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.4rem;
        color: #262626;
        border: 0;
        overflow: hidden;
        outline: none;
        text-overflow: ellipsis;
        font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
        -webkit-appearance: none;
        border: 1px solid #efefef;
        border-radius: 15px;
        background: rgba(255,255,255,0.8);
        padding-top: 1.8rem;
        padding-bottom: 0.2rem;
        width: 100%;
        background: transparent;

        &:focus {
            outline: none;
            border: 1px solid #2FBDEC;
        }
    }
}